<div class="images">
  <h2>Embroideries</h2>

  <% @images.each do |images| %>
    <div class="frame">
      <div class="pin"><%= images.name_jp %></div>
      <p class="panel">
      <img src="<%= images.image_url %>" class="image"
        alt="<%= images.name_en %>" >
      </p>
    </div>
  <% end %>

</div>
