<div class="images">
  <h2>Embroidery</h2>

  <div class="frame">
    <div class="pin">あひる</div>
    <p class="panel">
      <img src="images/embroideries/duck.jpg" class="image" alt="duck" >
    </p>
  </div>

</div>
