<div class="images">
  <h2>Pictures</h2>

  <div class="frame">
    <div class="pin">ソフトクリーム</div>
    <p class="panel">
      <img src="images/pictures/ice_cream.jpg" class="image" alt="ice_cream" >
    </p>
  </div>

</div>
