<div class="images">
  <h2>Pictures</h2>
  <% @pictures.each do |picture| %>
    <div class="frame">
      <div class="pin"><%= picture.name_jp %></div>
      <p class="panel">
      <img src="<%= picture.image_file %>" class="image" 
        alt="<%= picture.name_en %>" >
      </p>
    </div>
  <% end %>
</div>
